<div class="modal-tet">
  <form class="form">
    <div class="credit-card-info--form">
      <div class="input_container">
        <label for="password_field" class="input_label">Name</label>
        <input id="password_field" class="input_field" type="text" name="input-name" title="Inpit title" placeholder="Enter your full name">
      </div>
      <div class="input_container">
        <label for="password_field" class="input_label">Number</label>
        <input id="password_field" class="input_field" type="number" name="input-name" title="Inpit title" placeholder="0000 0000 0000 0000">
      </div>
      <div class="input_container">
        <label for="password_field" class="input_label">Expiry Date</label>
        <div class="split">
        <input id="password_field" class="input_field" type="text" name="input-name" title="Expiry Date" placeholder="01/23">
        <input id="password_field" class="input_field" type="number" name="cvv" title="CVV" placeholder="CVV">
      </div>
      </div>
    </div>
      <button class="purchase--btn">Submit</button>
  </form>
  </div>
