
<app-header></app-header>

<div style="color: #007F73; text-align: center; margin-top: 100px;">

  <hr>
  <h3 style="color: #007F73;"> A deep breath out of Hari'Arts world</h3>
  <hr>
</div>

<app-list-arts></app-list-arts>

