textarea{
  height: auto; /* Allows the script to adjust the height */
  box-sizing: border-box;
  overflow: hidden;

  padding: 10px;
  width: 100%;
  font-size: 14px;
  margin: 50px auto;
  border-radius: 6px;
  box-shadow: 2px 2px 8px rgba(black, .3);
  border: 0;

  &:focus{
    border: none;
    outline: none;
  }
}
