<div class="mt-5 main-content-wrapper d-flex clearfix">


  <!-- Header Area End -->

  <!-- Product Catagories Area Start -->
  <div class="products-catagories-area clearfix" style="margin: auto;">
    <div class="amado-pro-catagory clearfix">
      <div class="single-products-catagory clearfix">
        <a >
          <img class="d-block" src="http://localhost:4200/assets/img/bg-img/7.jpg">
          <!-- Hover Content -->
          <div class="hover-content">

            <label class="ui-heart mr-2">
              <input type="checkbox" />
              <div class="heart">
                <svg viewBox="0 0 16 16" style="margin-top:4px" class="bi bi-heart-fill" height="25" width="25"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" fill-rule="evenodd">
                  </path>
                </svg>
              </div>
            </label>

            <label class="ui-bookmark">
              <input type="checkbox">
              <div class="bookmark">
                <svg viewBox="0 0 32 32">
                  <g>
                    <path
                      d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                    </path>
                  </g>
                </svg>
              </div>
            </label>
            <div class="line"></div>
            <p>From $180</p>
            <h4></h4>
          </div>
        </a>
      </div>
      @if (this.publications$ | async ; as publis) {
      @for (item of publis; track $index) {
        <div class="single-products-catagory clearfix">
          <a href="/detail/{{item.idPublication}}">
            <img class="d-block" src="http://localhost:4200/assets/img/product-img/pro-big-1.jpg">
            <!-- Hover Content -->
            <div class="hover-content">

              <label class="ui-heart mr-2">
                <input type="checkbox" />
                <div class="heart">
                  <svg viewBox="0 0 16 16" style="margin-top:4px" class="bi bi-heart-fill" height="25" width="25"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" fill-rule="evenodd">
                    </path>
                  </svg>
                </div>
              </label>

              <label class="ui-bookmark">
                <input type="checkbox">
                <div class="bookmark">
                  <svg viewBox="0 0 32 32">
                    <g>
                      <path
                        d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                      </path>
                    </g>
                  </svg>
                </div>
              </label>
              <div class="line"></div>
              <p>From $180</p>
              <h4></h4>
            </div>
          </a>
        </div>
      }
      }@else{
      <!-- sf -->
      }


      <!-- Single Catagory -->
    </div>
  </div>
  <!-- Product Catagories Area End -->
</div>
