<app-header></app-header>

@if( this.publication$ | async; as pub ){
<div class="container" style="margin-top: 100px;">

  <div class="row detail-publi"
    style="background-color: whitesmoke; padding: 3%; padding-left: 2.5%; ">
    <div class="col-12 col-lg-7">
      <div class="single_product_thumb">
        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#product_details_slider" data-slide-to="0"
              style="background-image: url(img/product-img/pro-big-1.jpg);">
            </li>

          </ol>
          <div class="carousel-inner" style="border-top-left-radius: 30px; border-bottom-left-radius: 30px;">
            <div class="carousel-item active">
              <a class="gallery_img" href="http://localhost:4200/assets/img/product-img/pro-big-1.jpg">
                <img class="d-block w-100" src="http://localhost:4200/assets/img/product-img/pro-big-1.jpg"
                  alt="First slide">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5">
      <div class="single_product_desc">
        <!-- Product Meta Data -->
        <div class="product-meta-data">
          <div class="line"></div>
          <p class="product-price">
            {{ pub.nombreVue }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill"
              viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
            </svg>
            {{ pub.nombreReaction }}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-emoji-heart-eyes-fill" viewBox="0 0 16 16">
              <path
                d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434m6.559 5.448a.5.5 0 0 1 .548.736A4.5 4.5 0 0 1 7.965 13a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242s1.46-.118 2.152-.242a27 27 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zm-.07-5.448c1.397-.864 3.543 1.838-.953 3.434-3.067-3.554.19-4.858.952-3.434z" />
            </svg>
          </p>
          <!-- Ratings & Review -->
          <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
            <div class="ratings">
              Arts
            </div>
            <div class="review">
              <a href="http://localhost:4200/assets/#">
                <label class="ui-heart mr-2">
                  <input type="checkbox" />
                  <div class="heart">
                    <svg viewBox="0 0 16 16" style="margin-top:4px" class="bi bi-heart-fill" height="25" width="25"
                      xmlns="http://www.w3.org/2000/svg">
                      <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"
                        fill-rule="evenodd"></path>
                    </svg>
                  </div>
                </label>

                <label class="ui-bookmark">
                  <input type="checkbox">
                  <div class="bookmark">
                    <svg viewBox="0 0 32 32">
                      <g>
                        <path
                          d="M27 4v27a1 1 0 0 1-1.625.781L16 24.281l-9.375 7.5A1 1 0 0 1 5 31V4a4 4 0 0 1 4-4h14a4 4 0 0 1 4 4z">
                        </path>
                      </g>
                    </svg>
                  </div>
                </label>
              </a>
            </div>
          </div>
          <!-- Avaiable -->
          <div style="max-height: 70px; overflow-y: scroll;">

            <span class="tag" *ngFor="let tag of pub.tags">
              #{{ tag.tag }}
            </span>

          </div>
        </div>

        <div class="short_overview my-5 form-login">

          <form class="register-form">
            <p class="message">Want to <a (click)="animate()">See comment(s) ?</a></p>
            <hr>
            <div style="max-height: 400px; overflow-y: scroll;">
              <p>
                {{ pub.description }}
              </p>
            </div>
          </form>

          <form class="login-form">
            <p class="message">Read <a (click)="animate()">description(s) ?</a></p>
            <hr>
            <div class="row" style=" max-height: 350px; overflow-y: scroll; overflow-x: hidden;">
              <div class="col-md-12">
                <a class="publish-comment" (click) = "comment( pub.idPublication )">publish comment</a>
                <textarea id="comment-area" [ngModelOptions]="{standalone: true}" [(ngModel)]="currentComment" class='autoExpand' rows='1' placeholder='Auto-Expanding Textarea'
                  appAutoResizeTextarea></textarea>
              </div>

              @if( pub.commentaires.length > 0 ){
                <div class="col-md-12" *ngFor="let comment of pub.commentaires">
                  <div class="media g-mb-30 media-comment">
                    <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                      <div class="d-flex justify-content: space-between;">
                        <div class="g-mb-15">
                          <h5 class="h5 g-color-gray-dark-v1 mb-0">
                            {{ comment.profil.nom + " " + comment.profil.prenom }}
                          </h5>
                          <!-- <span class="g-color-gray-dark-v4 g-font-size-12">5 days ago</span> -->
                        </div>
                        <img class="g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15"
                          src="https://bootdey.com/img/Content/avatar/avatar7.png" style="margin-left: auto;"
                          alt="Image Description">
                      </div>


                      <p>
                        {{comment.valeur}}
                      </p>
                      <!--
                                <ul class="list-inline d-sm-flex my-0">
                                  <li class="list-inline-item g-mr-20">
                                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                      <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                                      178
                                    </a>
                                  </li>
                                  <li class="list-inline-item g-mr-20">
                                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                      <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                                      34
                                    </a>
                                  </li>
                                  <li class="list-inline-item ml-auto">
                                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                      <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                                      Reply
                                    </a>
                                  </li>
                                </ul> -->
                    </div>
                  </div>
                </div>
              }@else{
                <div class="col-md-12 text-center">
                  No comments
                </div>
              }

            </div>

          </form>
        </div>


      </div>
    </div>
  </div>
</div>
}

<div class="proposition-title mt-5">
  <h4 style="text-align: center;">More</h4>
</div>

<app-list-arts></app-list-arts>
